# 禁止变量提升到根 node_modules，保持子包隔离
shamefully-hoist=false

# workspace 协议优先
prefer-workspace-packages=true
link-workspace-packages=true

# 严格 peer 检查
strict-peer-dependencies=false

# 使用 node-linker 隔离
node-linker=isolated

# 避免污染
auto-install-peers=true
